*.npy
*.png
**/__pycache__/ 
leapsim/wandb
leapsim.egg-info
isaacgym/
.vscode
*.pyc   
*runs*
*.log
*.pth*
*.out 
# generated experiment outputs
*.npz
*.pid
leapsim/tools/distill_data/
leapsim/tools/logs/
